/*  reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* debug */
/* .box-debug{
    width: 200px;
    height: 100%;
    background-color: blueviolet;

} */

/* .debug .album-item{
    height: 300px;
    background-color: brown;
} */

/* fine debug  */

body{
    font-family: sans-serif;
}

.layout{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* main */


main{
    height: calc( 100vh - 100px);
    background-color: #141922;
    display: flex;
}

/* aside */
.side-bar{
    width: 250px;
    flex-shrink: 0;
    background-color:#000;
    height: 100%;
    min-height: 400px;
}
.sd-top{ 
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
}

.logo{
    padding: 20px;
}
 

.logo-mobile{
    display: none ;
}

.active img{ 
    width: 30px;
    display: inline-block;
    vertical-align: middle ;
}
.active a{
    color: #fff;
    text-decoration: none; 
}

.sd-menu ul{ 
    list-style: none;
}

.active span{
    display: inline-block;
    vertical-align: middle;
}

.sd-menu{ 
    margin-left: 20px;
    list-style: none;
    color: #fff;
}

.sd-menu li{
    margin-bottom: 10px;
}

.sd-playlist{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color:#fff;
    margin-left: 20px;
}
.sd-playlist h4{
    margin-bottom: 10px;
}
.sd-playlist a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    
}

i.p10{ 
    background-color: #a3a3a3;
    padding: 10px;
    color: #000;

}

.sd-playlist ul{
    list-style: none;
    overflow-y: scroll;
    
}
.sd-playlist li{
    margin-bottom: 10px;
}
.sd-bottom{
    height: 80px;
    background-color: black;   
}


/* content */


.content{
    width: calc( 100vw - 250px);
    overflow-y:scroll;
    color: #fff;
}

.cta{
    position: fixed;
    text-align: right;
    width: calc(100% - 250px);
    height: 80px;
    background-color: #080b12;
    top: 0;
    left: 250px;
    z-index: 98;
} 
.cta button{
    background-color: #080b12;
    color: #fff;
    padding: 10px;
    border: solid 1px;
    border-radius: 25px;
    margin-top: 20px;
    margin-right: 10px;

}
.menu ul li{
    display: inline-block;
    list-style: none; 

}
.menu{
    margin-top: 100px;
    text-align: center;
}

.menu a{
    color:#a3a3a3;
    text-decoration: none;
    margin-left: 10px;
}

.menu a.underline::after {
    content: '';
    display: block;
    height: 5px;
    width: 50%;
    background-color: #adff2f;
    position:absolute;
    bottom: 0;
    left: 25%;
}

.row{
    margin-left: 20px;
}

.album{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.album-item{
    width: calc(100% / 6 - 10px);
    margin-top: 10px;
    margin-right: 10px; 
    margin-bottom: 10px;
    text-align: center;
}

.album-item img{
    width: 100%;
    height: auto;
}

img.br{
    border-radius: 50%;
    
}

.covers h4, p{
    margin-bottom: 20px;
    margin-top: 20px;
}
.covers p{
    color: #a3a3a3;
}

/* footer */
footer{
    height: 100px;
    background-color:#282828;
    position: relative;
    z-index: 99;
    
}
#player{ 
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    width: 100%;
}

footer .payr-album{
    display: flex;
    justify-content: space-around;
    width: 230px;
    height: 100px;
    padding: 10px;
}

footer .p-a-cover{
    width: 20%;
}

footer .p-a-cover img{
    width: 100%;
}

footer .player-bar{
    width: 40%;
    height: 100%;
}
.p-b-icone{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
footer .control{
    list-style: none;
    font-size: 13px;
    line-height: 30px; 
}


footer .player-audio{ 
    width: 230px;
    height: 100px;
    padding: 10px;
}


/* media query */

@media all and (max-width: 992px) {
    .album-item {
        width: calc(100% / 4 - 20px);
    }
} 

@media all and (max-width: 768px) {
    .album-item {
        width: calc(100% / 2 - 20px);
    }
}

@media all and (max-width: 576px) {
    .side-bar{
        width: 50px;   
    }
    .content{
        width: calc( 100vw - 50px);
    }
    .cta{
        width: calc(100% - 50px);        
        left: 50px;
    } 
    .logo{
        display: none;
    }
    
    .logo-mobile{
        display: block ;
        padding: 10px;
    }
    .sd-playlist{
        display: none;
    }
    .active span{
        display: none;
    }
    .sd-menu {
        margin-left: 10px;
    }
} 
