/*  reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.layout{
    width: 100%;
    height: 100vh;
}
/* debug */
.box-debug{
    width: 200px;
    height: 100%;
    background-color: blueviolet;

}

/* aside */
.side-bar{
    width: 250px;
    flex-shrink: 0;
    background-color: blue;
    height: 100%
}
.sd-top{
    height: calc();
}



/* main */


main{
    height: calc( 100vh - 100px);
    background-color: red;
    display: flex;
}


.content ul li{
    display: inline-block;
    list-style: none; 

}

.cta{
    position: fixed;
    text-align: right;
    width: calc(100% - 250px);
    height: 50px;
    background-color: darkgray;
    top: 0;
    left: 250px;
} 

/* footer */
footer{
    height: 100px;
    background-color: grey;
}
#player{ 
    display: flex;
    justify-content: space-between;
    height: 100%;
}

footer .control{
    display: inline-block;
    list-style: none;
}