/*  reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.layout{
    width: 100%;
    height: 100vh;
}
/* main */
main{
    height: calc( 100vh - 100px);
    background-color: black;
    display: flex;
}
/* footer */
footer{
    height: 100px;
    background-color: grey;
}
#player{ 
    display: flex;
    justify-content: space-between;
    height: 100%;
}